@model IEnumerable<Category>
@{
    ViewData["Title"] = "List of categories";
}

<div class="row">

    <p>
        <h4>List of categories</h4>
    </p>
</div>


<div class="row">
    <div class="col-md-8 offset-2">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Id)</td>
                    <td>@Html.DisplayNameFor(model => model.CategoryImage)</td>
                    <td>@Html.DisplayNameFor(model => model.CategoryMain)</td>
                    <td>@Html.DisplayNameFor(model => model.ParentCategory)</td>
                    <td>Actions</td>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td><img src="~/images/@item.CategoryImage" class="rounded-circle" height="70" width="70" asp-append-version="true" />  </td>
                        <td>@Html.DisplayFor(modelItem => item.CategoryMain)</td>
                        <td>@Html.DisplayFor(modelItem => item.ParentCategory)</td>

                        <td>
                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>Edit</a> |
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Delete</a>

                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

</div>

@await Html.PartialAsync("_CreateItem", "Categories")

