@model IEnumerable<Product>


@{
    ViewData["Title"] = "List of Products";

}

<div class="row">
    <p>
        <h4>List of all products</h4>
    </p>
</div>


<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Id)</th>
                    <th>@Html.DisplayNameFor(model => model.ProductImage)</th>
                    <th>@Html.DisplayNameFor(model => model.ProductName)</th>
                    <th>Product Stock</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td><img src="~/images/@item.ProductImage" class="rounded-circle" height="70" width="70" asp-append-version="true" />  </td>
                        <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                        <td>@Html.DisplayFor(modelItem => item.ProductQuantity)</td>
                        <td>
                            <a class="btn btn-info" asp-action="SingleProduct" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>Details</a> |
                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>Edit</a> |
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@await Html.PartialAsync("_CreateItem", "Products")

